body {
    background-color: lightslategrey;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.row div {
    color: #fff;
    text-align: center;
    line-height: 150px;
    font-size: 36px;
    width: 150px;
    height: 150px;
    border: 10px black;
}

#b1 {
    background-color: #66FF66;
    border-style: solid;
}
#b2 {
    background-color: #CCFF00;
    border-style: dotted;
}
#b3 {
    background-color: #993300;
    border-style: outset;
}
#b4 {
    background-color: #FFFF99;
    border-style: double;
}
#b5 {
    background-color: #330000;
    border-style: solid;
}
#b6 {
    background-color: #FFCCCC;
    border-style: dashed;
}
#b7 {
    background-color: #5F9F9F;
    border-style: double;
}
#b8 {
    background-color: #330099;
    border-style: inset;
}
#b9 {
    background-color: #FFCCFF;
    border-style: dotted;
}